 
.descriptionBlock {
    padding: 10px;
}

.mainPhoto {
    
    width: 220px;
    height: 250px;
    overflow: hidden;
    margin: 10px;
    
} 	

.mainPhoto:hover{
    
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.contact {
    padding-left: 0px;
} 

.h1{
    padding: 15px;
    color: #DAA520;
    font-size: 5em;
}

.sliderPhoto {
    max-width: 200px;
    max-height: 101vh;
    overflow: hidden;
}
